.user-tile {
  display: flex;
  flex-direction: column;
  width: 90px;
  align-items: center;

  .selection {
    flex-basis: 120px;
    display: flex;

    app-poker-card {
      align-self: center;
    }

    .pending {
      align-self: center;
      font-size: 42px;
      height: 100px;
      width: 80px;
      text-align: center;
      background: rgba(255, 255, 255, 0.8);
      border: 1px solid #444;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .username {
    max-width: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
