<div class="user-tile">

  <div class="selection">
    <!-- revealed -->
    <app-poker-card *ngIf="reveal && userPokerCard" [card]="userPokerCard"
                    class="opaque"></app-poker-card>

    <!-- hidden -->
    <div class="pending" *ngIf="!reveal">
      <i *ngIf="!!userPokerCard" class="mdi mdi-check-circle has-text-success"></i>
      <i *ngIf="!userPokerCard" class="mdi mdi-timer-sand"></i>
    </div>
  </div>

  <div class="tags has-addons">
    <div class="tag username">{{ user.name }}</div>
    <a class="tag is-delete" (click)="removeUser()"></a>
  </div>

</div>
