<section class="overlay hero is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-narrow">
          <form #form="ngForm" (ngSubmit)="submitForm()">

            <div class="card">
              <div class="card-content">

                <h1 class="title">
                  Tell us your name
                </h1>
                <div class="field">
                  <div class="control">
                    <input class="input is-medium" type="text" placeholder="Your name"
                           autocomplete="off"
                           required
                           [(ngModel)]="model.name" name="name">
                  </div>
                </div>

                <label class="checkbox">
                  <input type="checkbox" [(ngModel)]="model.isObserver" name="isObserver">
                  I'm an observer
                </label>

              </div>
              <footer class="card-footer">
                <div class="card-footer-item">
                  <button class="button is-white is-fullwidth" [disabled]="form.invalid">Join Planning</button>
                </div>
              </footer>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
