<app-create-user *ngIf="(isMember$ | async) === false" [planningId]="planningId"></app-create-user>


<div [ngClass]="{'blurred': !(isMember$ | async)}"
     class="planning-poker">

  <div class="header m-4">
    <app-observer-list class="" [observers$]="observers$"></app-observer-list>
  </div>

  <div class="main">
    <div class="content">

      <div *ngIf="(players$ | async)?.length > 0" class="user-cards-list box">
        <div *ngFor="let user of players$ | async"
             class="is-inline-block mx-3">
          <app-user-tile [user]="user" [userPokerCard]="getUserPokerCard(user)"
                         [reveal]="isRevealed$ | async" (removeUserClicked)="removeUser($event)"></app-user-tile>
        </div>
      </div>

      <div class="has-text-centered" *ngIf="!currentUser?.isObserver">
        <!-- select a card -->
        <div class="mx-2 mt-5" *ngIf="!(isRevealed$ | async)">
          <h3 class="title has-text-light">Select your Card</h3>
          <app-card-selection (selectedCardChanged)="selectedCardChanged($event)"
                              [selectedCard]="selectedCard$ | async"></app-card-selection>
        </div>

        <!-- reset -->
        <div *ngIf="isRevealed$ | async" class="mt-5">
          <button type="button" class="button is-primay is-large" (click)="resetCards()">Reset</button>
        </div>
      </div>

      <!-- observer control -->
      <div *ngIf="currentUser?.isObserver">
        <app-observer-view [planningId]="planningId" [user]="currentUser"></app-observer-view>
      </div>

    </div>
  </div>

  <div class="bottom"></div>

</div>

<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Planning Poker</strong> by <a href="https://torbenlottmann.de">Torben Lottmann</a>.
      This website is Open Source <a href="https://github.com/endlosschleife" target="_blank"><i class="mdi mdi-github"></i> Endlosschleife</a>
    </p>
  </div>
</footer>
