.blurred {
  filter: blur(8px);
}

.planning-poker {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  background-image: linear-gradient(120deg, #134e5e 0%, #71b280 100%);

  .content {
    width: 100%;
    height: 500px;
  }

  .user-cards-list {
    text-align: center;
    margin: 0 30px;
  }

}
