.poker-card {
  line-height: 100px;
  width: 80px;
  text-align: center;
  color: #444;
  border: 1px solid #444;
  display: inline-block;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.8);

  > span {
    font-size: 24px;
  }

}

:host(.selected) {
  .poker-card {
    border-color: #fff;
    color: #333;
    background: rgba(255, 255, 255, 1);
  }
}

:host(.opaque) {
  .poker-card {
    background: rgba(255, 255, 255, 0.8);
  }
}

:host(.hoverable) {
  .poker-card:hover {
    background: rgba(255, 255, 255, 1);
  }
}
