.poker-card {
  line-height: 104px;
  width: 90px;
  text-align: center;
  border: 1px solid #444;
  display: inline-block;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.8);

  > span {
    font-size: 28px;
  }

}

:host(.selected) {
  .poker-card {
    border-color: #fff;
    color: #333;
    background: rgba(255, 255, 255, 1);
  }
}

:host(.opaque) {
  .poker-card {
    background: rgba(255, 255, 255, 0.8);
  }
}

:host(.hoverable) {
  .poker-card:hover {
    background: rgba(255, 255, 255, 1);
  }
}
